<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.filetest.domain.dto.ReceiveMessageDTO" alias="receiveMessageDTO"/>
        <typeAlias type="com.app.filetest.domain.dto.SendMessageDTO" alias="sendMessageDTO"/>
        <typeAlias type="com.app.filetest.domain.vo.ReceiveMessageVO" alias="receiveMessageVO"/>
        <typeAlias type="com.app.filetest.domain.vo.SendMessageVO" alias="sendMessageVO"/>
        <typeAlias type="com.app.filetest.domain.vo.FileVO" alias="fileVO"/>
        <typeAlias type="com.app.filetest.domain.vo.MessageVO" alias="messageVO"/>
        <typeAlias type="com.app.filetest.domain.vo.ReceiveMessageFileVO" alias="receiveMessageFileVO"/>
        <typeAlias type="com.app.filetest.domain.vo.SendMessageFileVO" alias="sendMessageFileVO"/>

    </typeAliases>

</configuration>